body{
    background-color: black;
    color: white;
}

.container__login{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    padding: 0 300px;
}

.container__perfil{
    text-align: center;
}

.container__perfil-img:hover{
    transition: .10s;
    border: 3px solid white;
}

.container__perfil-nome{
    text-transform: uppercase;
    margin: 10px;
}

@media screen and (max-width: 1024px){
    .container__login{
        padding: 0 100px;
    }
}

@media screen and (max-width: 900px){
    .container__login{
        padding: 0 50px;
    }
    .container__perfil-nome{
        margin: 5px;
    }
}